<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#item" >Item Details</a></li>
  <li class="tab-title"><a href="#edit" >Edit Item</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="item">
    <div class="row">
      <div class="large-6 columns">
        <%= image_tag @item.image.url %>
      </div>
      <div class="large-6 columns">
        <div class="small-8 columns">
          <p><strong><%= @item.name %></strong><br>
            <%= @item.description %>
          </p>
          <p><strong><%= number_to_currency @item.price %></strong> per 12oz. bag<br>
            shipping included
          </p>
          <%= form_tag cart_items_path, method: :post do %>
            <%= label_tag :quantity %>
            <%= select_tag :quantity, options_for_select(0..20), class: "select_tag" %>
            <%= hidden_field_tag :item_id, @item.id %><br>
            <%= submit_tag "ADD TO CART", class: "small button" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
      <div class="large-6 column">
        <h3>Overview</h3>
        <p><%= @item.overview %></p>
      </div>
      <div class="large-6 column">
        <div class="small-8 column">
          <h3>Details</h3>
          <p><%= @item.details %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="content" id="edit">
    <%= render 'admin/items/form' %>
  </div>
</div>
