<% content_for :title do %><%= current_user.first_name %> | Bluer Bottle Coffee<% end %>
<div class="large-7 columns">
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#order_history">Order History</a></li>
    <li class="tab-title"><a href="#edit_account">Edit Account</a></li>
  </ul>
  <div class="tabs-content">
    <div class="content active" id="order_history">
      <table id="order_table" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th width="150" class="text-center">Status</th>
          <th width="150" class="text-center">Date Ordered</th>
          <th width="100" class="text-center">Total</th>
          <th width="150"></th>
        </tr>
        </thead>
        <tbody>
        <% current_user.orders.each do |order| %>
          <tr>
            <td class="text-center">
              <p style="font-size:0.9rem; margin-bottom:1px"><%= order.status.capitalize %></p>
              <% if order.ordered? %>
                <%= form_tag charges_path do %>
                  <%= hidden_field_tag :order_id, order.id %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="A month's subscription"
                          data-amount="<%= order.total_cost * 100 %>"></script>
                <% end %>
              <% end %>
              <p style="font-size:0.9rem; margin-top:1px"><%= time_tag order.updated_at, format: "%b %-d, %Y %-l:%M %p" if order.status_locked? %></p>
            </td>
            <td class="text-center"><%= time_tag order.created_at, format: "%b %-d, %Y %-l:%M %p" %></td>
            <td class="text-center"><%= number_to_currency order.total_cost %></td>
            <td class="text-center">
              <a href="#" data-reveal-id="order_<%= order.id %>" class="small button">DETAILS</a>
              <div id="order_<%= order.id %>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                <%= render partial: 'orders/show', locals: { order: order } %>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="content" id="edit_account">
      <%= render 'form' %>
    </div>
  </div>
</div>
<div class="large-5 columns">
  <div class="row" data-equalizer>
    <div class="small-6 columns panel" data-equalizer-watch>
      <h3><%= current_user.full_name %></h3>
      <p style="color:#01a1dd; font-size:0.9rem"><%= current_user.email %></p>
    </div>
    <div class="small-5 columns panel text-center" data-equalizer-watch>
      <h4>Display Name</h4>
      <h3 style="color:#01a1dd"><%= current_user.display_name %></h3>
    </div>
  </div>
  <div class="row" data-equalizer>
    <div class="small-6 columns panel text-center" data-equalizer-watch>
      <h5>Coffees Purchased</h5>
      <h2 style="color:#01a1dd"><%= current_user.total_items_purchased %></h2>
    </div>
    <div class="small-5 columns panel text-center" data-equalizer-watch>
      <h5>Joined</h5>
        <h4 style="color:#01a1dd"><%= time_ago_in_words(current_user.created_at) %> ago</h4>
    </div>
  </div>
</div>

