<% content_for :title do %>Order <%= order.created_at %><% end %>
<h1>Order <%= order.created_at %></h1>
<h2>Status: <%= order.status %></h2>
<table id="cart_table">
  <thead>
  <tr>
    <th width="150">Item</th>
    <th>Description</th>
    <th width="150">Quantity</th>
    <th width="150">Price</th>
  </tr>
  </thead>
  <tbody>
  <% order.order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.item.description %></td>
      <td><%= order_item.quantity %></td>
      <td style="text-align:right"><%= number_to_currency order_item.item.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>
