<li id="#{item.name}">
  <%= link_to item do %>
    <div class='row'><%= image_tag item.image.url, class: 'index_img' %></div>
    <div class='row'><%= item.name %></div>
    <div class='row'><%= number_to_currency item.price %></div>
    <div class='row'><%= item.description %></div>
  <% end %>
</li>
