<div class="row">
  <div class="large-6 columns">
    <%= image_tag @item.image.url %>
  </div>
  <div class="large-6 columns">
    <div class="small-8 columns">
      <p><strong><%= @item.name %></strong><br>
        <%= @item.description %>
      </p>
      <p><strong><%= number_to_currency @item.price %></strong> per 12oz. bag<br>
        shipping included
      </p>
      <% if @item.retired? %>
        <h4><i>Item Unavailable :(</i></h4>
        <% else %>
        <%= form_tag cart_items_path, method: :post do %>
          <%= label_tag :quantity %>
          <%= select_tag :quantity, options_for_select(0..20), class: "select_tag" %>
          <%= hidden_field_tag :item_id, @item.id %><br>
          <%= submit_tag "ADD TO CART", class: "tiny button" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row"><br></div>
<div class="row">
  <div class="large-6 column">
    <h3>Overview</h3>
    <p><%= @item.overview %></p>
  </div>
  <div class="large-6 column">
    <div class="small-8 column">
      <h3>Details</h3>
      <p><%= @item.details %></p>
    </div>
  </div>
</div>
